@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    scroll-behavior: smooth;
  min-width: 375px;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: rgb(30, 59, 30);
}
.card {

  width: 100%;
  height: 100vh;
}

.card #menu_button button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  float: right;
  margin: 0.5rem;
  width: 2rem;
  height: 2rem;
}
.card #menu_button button i {
  font-size: 1.4rem;
  color: white;
}
.card #inside-menu {
  padding: 2px;
  height: 100vh;
  width: 70%;
  position: fixed;
  right: -120%;
  z-index: 1;
  color: black;
  background-color: white;
  font-family: "Tagesschrift", sans-serif;
}
.card #inside-menu button {
  position: relative;
  float: right;
  top: -2rem;
  height: 2rem;
  width: 2rem;
  border: none;
  background: none;
}

.card #inside-menu button i {
  font-size: 1.4rem;
}
.card #inside-menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 2rem 0;
  row-gap: 6rem;
  flex-flow: column nowrap;
}
.card #inside-menu ul li {
  font-weight: bold;
  font-family: "Tagesschrift";
}
.card .landing {
animation: leFadeInLeft 1.5s forwards;
  display: flex;
  padding-left: 2rem;
  padding-top: 5rem;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.card .landing .header h2 {
  font-family: "BioRhyme";
  animation: effect3d infinite forwards;
}
.card .landing .footer h2 {
  font-family: "BioRhyme";
  font-size: 1rem;
}
.card .landing .footer {
  text-align: left;
}
.card .landing .footer p {
  font-family: "Playwrite România";
  font-size: 2rem;
  font-style: italic;
  font-weight: 900;
}
.card .landing .header h1 {
  font-family: "Playwrite România ";
  font-weight: bolder;
  font-style: italic;
 
}
.card .landing img {
  width: 300px;
  background: transparent;
}
.card2 {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
  font-family: "BioRhyme";
  margin-top: 9rem;
  height: 70vh;
  padding: 10px;
}
.card2 .menuitem {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}
.card2 .menuitem .item h2 {
  font-size: 1rem;
}
.card2 .menuitem .item div {
box-shadow: 0.2px 0.6px 12px rgb(111, 177, 111);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.329);
  height: 12rem;
  width: 10rem;
  border-radius: 10px;
}
.card2 .menuitem .item a {
  text-decoration: none;
  color: white;
}
.card2 .menuitem .item {
  column-gap: 2rem;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.card2 .menuitem img {
  overflow: scroll;
  object-fit: cover;
  width: 100px;
  height: 100px;
}
.card2 .header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}
.card3{
    text-align: center;
    height:60vh;
}
.card3 .header{
    font-family:'Playwrite România' ;
    font-style: italic;
}
.card3 .aboutbtn{
    margin-top: 2rem;
}
.card3 button{
background-color: rgb(79, 143, 79);
color: white;
height: 3rem;
width: 10rem;
border: none;
font-size: 1.3rem;
border-radius: 5px;
}
.card3 button:hover{
    box-shadow: 0.2px 0.6px 12px rgb(111, 177, 111);

}
.card4{
    height: 100vh;
}

.card4 .header{
    display: flex;
    flex-direction: column;
align-items: center;
}

.contactdetails{
    border-radius: 8px;
    margin: 2rem;
    height: 200px;
    background-color: rgba(39, 82, 39, 0.644);
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    padding-top: 2rem;
    margin-top: 2rem;
}
.card4 .phone p{
    color: white;
    text-decoration: none;
}
.contactdetails div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactdetails div i{
    font-size: 1.3rem;
    color: rgba(187, 219, 123, 0.93);
}
.Client_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}
.Clientinfo{
    padding: 2rem 0;
    background-color: rgba(38, 71, 38, 0.644);
}
.Client_form input{
    font-size: 1.1rem;
    background: transparent;
    width: 20rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    padding-left: 1rem;
}
.Client_form input::placeholder{
    color: white;
}
.Client_form input:hover ,input:focus{
    outline: none;
    color: white;
    box-shadow: 0.2px 0.6px 12px rgb(111, 177, 111);
}
.Client_form textarea{
    background: transparent;
    font-size: 1.1rem;
    width: 20rem;
    height: 5rem;
    border-radius: 5px;
    border: none;
    padding-left: 1rem;
}
.Client_form textarea:hover ,textarea:focus{
    outline: none;
    color: white;
    box-shadow: 0.2px 0.6px 12px rgb(111, 177, 111);
}
.Client_form #Submit{
    color: white;
}
@keyframes effect3d {
    to {
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15)
    }
}

@keyframes leFadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }
    to { opacity: 1 }
}


